<div class="cover container">
    <div class="cover-content">
        {{#if @site.icon}}
            <div class="cover-icon">
                <img class="cover-icon-image" src="{{@site.icon}}" alt="{{@site.title}}">
            </div>
        {{/if}}

        {{#if @site.description}}
            <div class="cover-description">{{@site.description}}</div>
        {{/if}}

        {{#unless @member}}
            <style>
                .subscribe-form-container {
                    margin-top: 2rem;
                }
                .subscribe-form {
                    display: flex;
                    flex-direction: row;
                }
                /* Firefox Relay wraps our input in a div, breaking flexbox */
                .fx-relay-email-input-wrapper {
                    flex: 1;
                }
                .subscribe-form input {
                    flex: 1;
                    border-top-right-radius: initial;
                    border-bottom-right-radius: initial;
                    border-right: 0;
                }
                .subscribe-form button {
                    color: #fff;
                    border-left: 0;
                    background-color: var(--brand-color);
                    border-top-left-radius: initial;
                    border-bottom-left-radius: initial;
                    height: initial;
                    margin-left: 0;
                }
                .subscribe-form.success, .subscribe-form.loading, .success-msg, .loading-msg {
                    display: none;
                }
                .subscribe-form.success ~ .error-msg,
                .subscribe-form.success ~ .success-msg,
                .subscribe-form.loading ~ .loading-msg {
                    display: block;
                    font-weight: bold;
                }
            </style>
            <div class="subscribe-form-container">
                <form data-members-form="subscribe" class="subscribe-form">
                    <input data-members-email type="email" placeholder="Type your email…" required="true"/>
                    <button class="button" type="submit">Subscribe</button>
                </form>
                <div class="error-msg">Failed to subscribe</div>
                <div class="loading-msg">Submitting form</div>
                <div class="success-msg">Thanks for subscribing!</div>
            </div>
        {{/unless}}
    </div>
</div>
